@model BonTemps.Areas.Systeem.Models.Reservering

@{ 
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>


</head>
<body>

    <h4>Reservering</h4>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NaamReserveerder" class="control-label"></label>
                    <input asp-for="NaamReserveerder" class="form-control" />
                    <span asp-validation-for="NaamReserveerder" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HuisTelefoonNummer" class="control-label"></label>
                    <input asp-for="HuisTelefoonNummer" class="form-control" />
                    <span asp-validation-for="HuisTelefoonNummer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MobielTelefoonNummer" class="control-label"></label>
                    <input asp-for="MobielTelefoonNummer" class="form-control" />
                    <span asp-validation-for="MobielTelefoonNummer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AantalPersonen" class="control-label"></label>
                    <input asp-for="AantalPersonen" class="form-control" />
                    <span asp-validation-for="AantalPersonen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReserveringsDatum" class="control-label"></label>
                    <input asp-for="ReserveringsDatum" class="form-control" />
                    <span asp-validation-for="ReserveringsDatum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>


                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
        }
    }
</body>
</html>
