@model BonTemps.Areas.Systeem.Models.Allergenen

@{
    ViewData["Title"] = "Delete";
}

<h1 class="titel">Weet u zeker dat u deze bestelling wilt verwijderen?</h1>
<div style="margin-top:2%;" id="createform">
    <h3 class="titel createform">Details</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Beschrijving)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>
        <dt class="col-sm-6">
            Icoon
        </dt>
        <dd class="col-sm-6">
            <img id="allergeenicoon" src="~/Image/Icons/Allergenen/@Html.DisplayFor(model => model.AllergenenIcoon)"
                 title="@Html.DisplayFor(model => model.Beschrijving)" />
        </dd>
        <dt class="col-sm-6">
            
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.AllergenenIcoon)
        </dd>
    </dl>

    <form asp-action="Delete" style="text-align: center;margin-left:25%;">
        <div class="form-group">
            <button asp-action="Delete" asp-for="Id" class="btn darkred CrudCancel">
                Verwijderen  <i class="fas fa-times white"></i>
            </button>
        </div>
    </form>
</div>

<a asp-action="Index" class="btn darkblue CrudCreate" style="float:left;margin-left:25%;margin-top:5%;">
    <i class="fas fa-chevron-left edit"></i>   Terug
</a>