@model IEnumerable<BonTemps.Areas.Systeem.Models.Menu>
@{
    ViewData["Title"] = "Menu's";
}

<div class="container-menu">
    <h2>Menus</h2>
    <div class="container-menu">

        @foreach (var item in Model)
        {
            <h3>
                <span><a asp-controller="Menu" asp-action="Detail" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Menu_naam)</a></span>

            </h3>
            <p>@Html.DisplayFor(modelItem => item.Beschrijving)</p>

        }
    </div>
</div>

