@model IEnumerable<BonTemps.Areas.Systeem.Models.ConsumptieMenu>
@{
    ViewData["Title"] = "Menu's";
    double prijs = 0.0;
    List<int> consumptiemenu = new List<int>();
}

<div class="container-menu">
    <h2>Menus</h2>
    <div class="container-menu">

        @foreach (var item in Model)
        {

            if (consumptiemenu.Contains<int>(item.MenuId))
            {
            }
            else
            {
                consumptiemenu.Add(item.MenuId);
                <h3>
                    <span><a asp-controller="Menu" asp-action="Detail" asp-route-id="@item.Menu.Id"> @Html.DisplayFor(modelItem => item.Menu.Menu_naam)</a></span>
                </h3>
                <p>@Html.DisplayFor(modelItem => item.Menu.Beschrijving)</p>

            }

                @*@foreach (var c in item.Consumptie.ConsumptieAllergenen)
                {
                    <img id="allergeenicoon" src="~/Image/Icons/Allergenen/@c.Allergenen.AllergenenIcoon"
                     title="@c.Allergenen.Beschrijving"/>

                }*@
        }


    </div>
</div>

