@model IEnumerable<BonTemps.Areas.Systeem.Models.Menu>
@{
    ViewData["Title"] = "Menu's";
    double prijs = 0.0;   
}

<div class="container-menu">
    <h2>Menus</h2>
    <div class="container-menu">

        @foreach (var item in Model)
        {
            <h3>
                <span><a asp-controller="Menu" asp-action="Detail" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Menu_naam)</a></span>

            </h3>
            <p>@Html.DisplayFor(modelItem => item.Beschrijving)</p>
            @*@foreach (var c in item.ConsumptieMenu)
            {
                @foreach (var ca in item.Consumpties)
                {
                    @foreach (var da in item.COn)
                    {

                    }
                }
            }*@

        }
    </div>
</div>

