@model IEnumerable<BonTemps.Areas.Systeem.Models.Menu>
@{
    ViewData["Title"] = "Menu's";
}

    <h1>Menu</h1>

    
        

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Menu_naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Beschrijving)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Menu_naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Beschrijving)
                    </td>
                </tr>
            }
        </tbody>    
    </table>


