@model BonTemps.Areas.Systeem.Models.Menu

@{
    ViewData["Title"] = "Create";
}

<h1>Menu aanmaken</h1>
<hr />
<div class="table">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Menu_naam" class="control-label"></label>
                <input asp-for="Menu_naam" class="form-control" />
                <span asp-validation-for="Menu_naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="button-save" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="create" asp-action="Index">Terug naar menu overzicht</a>
</div>

