@model BonTemps.Areas.Systeem.Models.Menu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Menu</h1>

<hr />
<div class="table">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Menu_naam" class="control-label"></label>
                <input asp-for="Menu_naam" class="form-control" />
                <span asp-validation-for="Menu_naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            @Html.ListBox("ConsumptieId", (MultiSelectList)ViewBag.ConsumptieId, new { size = 8 })
            <div class="form-group">
                <input type="submit" value="Save" class="button-save" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="create" asp-action="Index">Terug naar menu overzicht</a>
</div>

