@{
    ViewData["Title"] = "Home Page";
}

<div class="container-Home">
    <Image src="../img/bontemps.png" /><br />
  <h3>Kom en kijk naar onze<a asp-controller="Menu" asp-action="Index" class="link"> Menu's</a></h3>
  @*  <Image class="HomeImage" src="../Image/ChickenHome.jpg" />
    <br /> <h3 class="Menu-text">
        BonTemps Beidt de Lekkerste franse cuisine in de stad.
        Kom en neem een kijk naar onze menu's en onze weide keuzen aan onze klassieke franse gerechten
    </h3>
      *@
</div>