@model BonTemps.Areas.Systeem.Models.Dashboard
@{
    ViewData["Title"] = "Systeem Home";
}

@if (User.IsInRole("Manager"))
{
<div class="row">
    <a class="col-md-5 edit-btn" href="#">
        <div class="">
            <i class="fas fa-users edit-icon"></i>
            <p class="text-btn-contact">Aantal geregistreede user: @Model.users.Count</p>
        </div>
    </a>
    <a class="col-md-5 edit-btn">
        <div class="">
            <i class="fas fa-calendar edit-icon"></i>
            <p class="text-btn-tijden">Geplande reserveringen: @Model.Reserveringen.Count</p>
        </div>
    </a>
    <a class="col-md-5 edit-btn">
        <div class="">
            <i class="fas fa-euro-sign edit-icon"></i>
            <p class="text-btn-tijden">Verwachte omzet: &euro;@Model.Omzet</p>
        </div>
    </a>
    <a class="col-md-5 edit-btn">
        <div class="">
            <i class="fas fa-chair edit-icon"></i>           
            <p class="text-btn-tijden">Beschikbare tafels: @Model.Tafels.Count</p>
        </div>
    </a>
</div>
}