@model BonTemps.Areas.Systeem.Models.Bestelling

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bestelling</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Consumptie.CategoryId" class="control-label"></label>
                <select asp-for="Consumptie.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>

            </div>
            <div class="form-group">
                
                <label asp-for="ConsumptieId" class="control-label"></label>
                <select asp-for="ConsumptieId" class="form-control" asp-items="ViewBag.Consumptienaam"></select>
            </div>
            <div class="form-group">

                <label asp-for="TafelsId" class="control-label"></label>
                <select asp-for="TafelsId" class="form-control" asp-items="ViewBag.TafelsId"></select>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

