@model BonTemps.Areas.Systeem.Models.Bestelling

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bestelling</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ConsumptieId" class="control-label"></label>
                <select asp-for="ConsumptieId" class="form-control" asp-items="ViewBag.ConsumptieId"></select>
                <span asp-validation-for="ConsumptieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TafelsId" class="control-label"></label>
                <select asp-for="TafelsId" class="form-control" asp-items="ViewBag.TafelsId"></select>
                <span asp-validation-for="TafelsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bestellingsdatum_Tijd" class="control-label"></label>
                <input asp-for="Bestellingsdatum_Tijd" class="form-control" />
                <span asp-validation-for="Bestellingsdatum_Tijd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Afgerond" /> @Html.DisplayNameFor(model => model.Afgerond)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

