@{
    ViewData["Title"] = "Contact Page";
}

<div class="scrollbar">
    <div class="contact-page">
        <div class="title-balk">
            <h1 class="title heading-primairy"><b>Contact</b></h1>
        </div>

        <div class="Contact">
            <h1 class="heading-primairy">Adres</h1>
            <p>Lorem Ipsum 554</p>
            <p>5546 LK, Alkmaar</p>

            <h1 class="heading-primairy tel">Telefoon en Email</h1>
            <p><b>Telefoon /</b> 072-50984535</p>
            <p><b>Email /</b> TempEmail@gmail.com</p>


        </div>
        <div class="openingstijden">
            <h1 class="heading-primairy">Openingstijden</h1>
            <p><b>Maandag /</b> 16:00-23:00</p>
            <p><b>Dinsdag /</b> 16:00-23:00</p>
            <p><b>Woensdag /</b> 16:00-23:00</p>
            <p><b>Donderdag /</b> 16:00-23:00</p>
            <p><b>Vrijdag /</b> 16:00-23:00</p>
            <p><b>Zaterdag /</b> 16:00-23:00</p>
            <p><b>Zondag /</b> 16:00-23:00</p>
        </div>
    </div>
</div>