@model BonTemps.Areas.Systeem.Models.Email

@{
    ViewData["Title"] = "Create";
}
<script src="https://cdn.tiny.cloud/1/d214d59wwck9jdffvjm5uanems5fcl78mpsgyq0l7qswmz8y/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#plugindiv',
        //plugins: 'emoticons',
        //toolbar: 'emoticons',
        width: 600,
        height: 600
    });
</script>
<div id="tijdform" style="width:70%;margin-top:-5%;">
    <h3 class="titel createform">E-Mail Opstellen </h3>
    <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ontvanger" class="control-label"></label>
                <input asp-for="Ontvanger" class="form-control" />
                <span asp-validation-for="Ontvanger" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Onderwerp" class="control-label"></label>
                <input asp-for="Onderwerp" class="form-control" />
                <span asp-validation-for="Onderwerp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">Inhoud</label>
                <input asp-for="Text" id="plugindiv" />
            </div>
            <br />
            <div class="form-group">
                <button asp-action="Index" class="btn darkred CrudCancel">
                    Annuleren  <i class="fas fa-times white"></i>
                </button>
                <button type="submit" class="btn darkblue CrudCreate" style="float:right;">
                    Versturen  <i class="fas fa-paper-plane white"></i>
                </button>
            </div>
        </form>
</div>

