body {
    background-color: #333030;
}
html {
    min-height: 100%;
    position: relative;
}
body {
    height: 100%;
}
/*.color-hr{
    position: absolute;
    margin-top: -6px;
    background-color: orange;
    width: 100%;
}*/
h1{
    color: orange;
}
.navbar-left {
    position: absolute;
    background-color: #212020;
    margin-bottom: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 80%;
    overflow: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.scroller{
    display: none;
}
th{
    color: orange;
}
tr{
    color: orange;
}
hr {
    color:red!important;
}
label{
    color: orange;
}
[class^="fa"] {
    color: orange;
    width: 25px;
    fill: #fff;
}
.navbar-left a:hover, .dropdown-btn:hover {
    font-size: 17px;
    color: white!important;
}
.foto-bt {
    max-width: 75%;
    height: auto;   
    margin-bottom: 4%;
    margin-top: 4%;
    margin-left: 4%;
}
.dropdown-btn {
    color: rgba(255, 255, 255, 0.5) !important;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
}
.dropdown-btn:focus {
    outline: none;
}
.dropdown-container a {
    margin-left: 1rem;
    text-decoration: none;
}
.dropdown-container {
    display: none;
}
.active {
    color: white;
    font-weight: bold;
}
.text-btn-contact {
    align-content: center;
    position: absolute;
    bottom: 0px;
    left: 40px;
}
.text-btn-tijden{
    align-content: center;
    position: absolute;
    bottom: 0px;
    left: 60px;
}
.text-btn-email {
    align-content: center;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.navbar-left {
    -webkit-box-shadow: 22px 0px 56px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 0px 56px -16px rgba(0,0,0,0.75);
    box-shadow: 22px 0px 56px -16px rgba(0,0,0,0.75);
}
.row [class^="fa"] {
    font-size: 80px;
    margin-right: 16%;
    margin-top: 20%;
}
.edit-btn {
    background-color: #212020;
    height: 30vh;
    margin: 25px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.5) !important;
    -webkit-box-shadow: inset 2px 42px 107px -37px rgba(0,0,0,0.41);
    -moz-box-shadow: inset 2px 42px 107px -37px rgba(0,0,0,0.41);
    box-shadow: inset 2px 42px 107px -37px rgba(0,0,0,0.41);
    text-align: center;
}
.fa-sign-out-alt {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    margin: 0;
}
/*------- alle css wat betreft tables begint hier -------*/
#cmstable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#cmstable td, #cmstable th {
    border: 2px solid #333030;
    padding: 8px;
}
#cmstable th {
    /*background-color: #474c56;*/
    background-color: #333030;
    padding: 12px 0px 30px 0px;
    color: #c3c4c8;
}
#cmstable tr:nth-child(even) {
    background-color: #2c2d32;
}
#cmstable tr {
    background-color: #43464d;
}
#cmstable tr:hover {
    background-color: #5a5c60;
    cursor: pointer;
}
#cmstable td {
    color: #9291a1;
}
#cmstable .FirstTD {
    color: orange;
}
.titel {
    font-weight: normal;
    color: #c3c4c8;
    margin-bottom: 10%;
    font-size: 3rem;
}
 .edit, .details, .create {
    color: #ddd!important;
}
.delete {
    color: #212020 !important;
}
.darkblue {
    background-color: #324160;
}
    /*------- alle css wat betreft tables eindigt hier -------*/