body {
    background-color: #333030;
}
html {
    min-height: 100%;
    position: relative;
}
body {
    height: 100%;
}
.navbar-left {
    position: absolute;
    background-color: #212020;
    margin-bottom: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 80%;
    overflow: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.scroller{
    display: none;
}
hr {
    color:red!important;
}
[class^="fa"] {
    color: orange;
    width: 25px;
    fill: #fff;
}
.navbar-left a:hover, .dropdown-btn:hover {
    font-size: 17px;
    color: white!important;
}
.foto-bt {
    max-width: 75%;
    height: auto;   
    margin-bottom: 4%;
    margin-top: 4%;
    margin-left: 4%;
}
.dropdown-btn {
    color: rgba(255, 255, 255, 0.5) !important;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
}
.dropdown-btn:focus {
    outline: none;
}
.dropdown-container a {
    margin-left: 1rem;
    text-decoration: none;
}
.dropdown-container {
    display: none;
}
.active {
    color: white;
    font-weight: bold;
}
.text-btn-contact {
    align-content: center;
    position: absolute;
    bottom: 0px;
    left: 40px;
}
.text-btn-tijden{
    align-content: center;
    position: absolute;
    bottom: 0px;
    left: 60px;
}
.text-btn-email {
    align-content: center;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.navbar-left {
    -webkit-box-shadow: 22px 0px 56px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 0px 56px -16px rgba(0,0,0,0.75);
    box-shadow: 22px 0px 56px -16px rgba(0,0,0,0.75);
}
.row [class^="fa"] {
    font-size: 80px;
    margin-right: 16%;
    margin-top: 20%;
}
.edit-btn {
    background-color: #212020;
    height: 30vh;
    margin: 25px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.5) !important;
    -webkit-box-shadow: inset 2px 42px 107px -37px rgba(0,0,0,0.41);
    -moz-box-shadow: inset 2px 42px 107px -37px rgba(0,0,0,0.41);
    box-shadow: inset 2px 42px 107px -37px rgba(0,0,0,0.41);
    text-align: center;
}
.fa-sign-out-alt {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    margin: 0;
}

    /*------- alle css wat betreft tables begint hier -------*/
#cmstable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#cmstable td, #cmstable th {
    border: 2px solid #333030;
    padding: 8px;
}
#cmstable th {
    /*background-color: #474c56;*/
    background-color: #333030;
    padding: 12px 0px 30px 0px;
    color: #c3c4c8;
}
#cmstable tr:nth-child(even) {
    background-color: #2c2d32;
}
#cmstable tr {
    background-color: #43464d;
}
#cmstable tr:hover {
    background-color: #5a5c60;
    cursor: pointer;
}
#cmstable td {
    color: #9291a1;
}
#cmstable .FirstTD {
    color: orange;
}
.titel {
    font-weight: normal;
    color: #c3c4c8;
    margin-bottom: 5%;
    font-size: 3rem;
}
 .edit, .details, .create, .betalen, .nogbetalen {
    color: #ddd!important;
}
.betalenbtn {
    background-color: #008f30;
}
.betalenbtn:hover {
    background-color: #23de62;
}
.nogbetalenbtn {
    background-color: #8f001a;
}
.nogbetalenbtn:hover {
    background-color: #ed2448;
}
.delete {
    color: #212020 !important;
}
.deletebtn {
    background-color: #f67400;
}
.deletebtn:hover {
    background-color: #ff9e47;
    color: #212020 !important;
}
.darkblue {
    background-color: #324160;
    color: #ddd!important;
}
.darkblue:hover {
    background-color: #5670a6;
}
#allergeenicoon {
    width: 20%;
    height: auto;
}
    /*------- alle css wat betreft tables eindigt hier -------*/


    /*------- alle css wat betreft create forms begint hier -------*/
.createform {
    font-size: 2rem;
    text-align: center;
}
#createform {
    border-radius: 1%;
    padding: 2rem;
    padding-bottom: 4rem;
    margin-top: 15%;
    margin-left: 25%;
    width: 40%;
    align-content: center;
    background-color: #2c2d32;
    -webkit-box-shadow: 10px 10px 37px -16px rgba(0,0,0,0.43);
    -moz-box-shadow: 10px 10px 37px -16px rgba(0,0,0,0.43);
    box-shadow: 10px 10px 37px -16px rgba(0,0,0,0.43);
}
#tijdform {
    border-radius: 1%;
    padding: 2rem;
    padding-bottom: 4rem;
    margin-top: 15%;
    margin-left: 15%;
    width: 75%;
    align-content: center;
    background-color: #2c2d32;
    -webkit-box-shadow: 10px 10px 37px -16px rgba(0,0,0,0.43);
    -moz-box-shadow: 10px 10px 37px -16px rgba(0,0,0,0.43);
    box-shadow: 10px 10px 37px -16px rgba(0,0,0,0.43);
}
#createform dt, dd {
    color: #9291a1;
}
#tijdform label, #createform label {
    color: #9291a1;
}
#tijdform select, #tijdform input, #createform select, #createform input {
    background-color: #43464d;
    color: #9291a1;
    border: none;
    border-radius: 0;
}
.CrudCancel { 
    float: left;
}
.white {
    color: #ddd;
}
.darkred {
    background-color: #8f001a;
    color: #ddd!important;
}
.darkred:hover {
    background-color: #ed2448;
}
.switch-container {
    margin-bottom: 2rem;
}


/*switch input van w3 schools*/
/*-----*/
.switch {
  margin: 0;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/*-----*/
    /*------- alle css wat betreft create forms eindigt hier -------*/
