/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.login-content{
    background-color: black;
    height: 100px;
    width: 100px;
}

.foto-bt {
    max-width: 75%;
    margin-bottom: 0%;
    margin-top: 25%;
    margin-left: 11%;
}

.color{
    background-color: black;
}

.iconlogin {
    margin-left: 40%;
    margin-right: auto;
    margin-top: -20%;
    margin-bottom: 15%;
    border: 3px solid black;
    background-color: black;
    border-radius: 50%;
    color: floralwhite;
    font-size: 5rem;
}


.login-div {
    border: 3px solid black; 
    margin: 0;
    margin-top: 12.5%;
    margin-left: 25%;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    background-color: floralwhite;
    opacity: 0.9;
    width: 55%;
    border-radius: 10px;
}

.registercontent {
    background-color: black;
    height: 100px;
    width: 100px;
}

.register-content{
    margin-left: auto;
    margin-right: auto;
}

.iconregister {
    z-index: 10;
    margin-top: 8.5%;
    margin-left: 45%;
    border-radius: 50%;
    padding: 0;
    border: 3px solid black;
    background-color: black;
    color: floralwhite;
    font-size: 5rem;
}

.registerdiv {
    border: 3px solid black;
    margin: 0;
    margin-top: -4%;
    margin-left: 10%;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    background-color: floralwhite;
    opacity: 0.9;
    width: 80%;
    border-radius: 10px;
}

.forgotdiv {
    border: 3px solid black;
    margin: 0;
    margin-top: 12.5%;
    margin-left: 25%;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    background-color: floralwhite;
    opacity: 0.9;
    width: 55%;
    border-radius: 10px;
}

.margin-btm {
    margin-bottom: 2.5rem;
}

.btn-login{
    float: right;
    width: 125px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.lines {
    margin: 0;
    margin-left: 25%;
    background-color: floralwhite;
    opacity: 0.9;
}

html {
    min-height: 100%; 
    position: relative;
}

.background{
    margin-left : 20%;
    background-size: cover;

}

.nav-list {
    padding-top: 70%;
}

.navbar-left {
    font-weight: 650;
    color: white;
    position: absolute;
    background-color: black;
    background-image: url("../Image/BackGroundNav.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 83%;
    overflow: hidden;
}

.icons{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.create {
    opacity: 0.9;
    background-color: floralwhite;
    padding: 10px;
}

h1 {
    opacity: 0.9;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: floralwhite;
    padding: 10px;
}

.ChefDash {
    background-color: floralwhite;
    width: 40%;
    height: 100px;
    color: black;
    text-align: left;
    padding: 25px;
    padding-right: 12px;
    opacity: 0.9;
    list-style-type: none;
}

.table {
    opacity: 0.9;
    background-color: floralwhite;
    padding: 5px;
}

.button-save{
    background-color: floralwhite;
    width: 100px;
    box-shadow: 3px 3px 1px grey;
    border:none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a{
    color:black;
    font-weight:600;
}

li a {
    width: 100%;
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 1.1rem; 
    letter-spacing: 3px;
}

li, a:hover {
    color: red;
    text-decoration: none;
}

.login-nav{
    padding-top: 0px;
}

.line-flag{
    padding-top: 65%; 
    height: 0.25rem;
}

.blue{
    background-color: blue;
    height: 100%;
}

.white {
    background-color: white;
    height: 100%;
}

.red {
    background-color: red;
    height: 100%;
}

a.navbar-brand {
    white-space: normal;
    text-align: left;
    word-break: break-all;

}



/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

    html{
    overflow: hidden;
}

body {
    background-image: url("https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}


.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.heading-primairy {
    font-size: 2rem;
}

.title {
    margin-top: 10%;
    padding-bottom: .5%;
    padding-top: .5%;
    width: 20%;
    background-color: floralwhite;
    opacity: 0.9;   
    text-align: center;
    font-family: 'Merriweather, serif';
    color: black;
    /*#242424*/
}

.Contact {
    float: left;
    width: 30%;
}

.tel{
    margin-top: 30%;
}

.openingstijden {
    float: left;
    width: 40%;
}

.openingstijden, .Contact {
    height: 100px;
    font-size: 16px;
    white-space: nowrap;
    font-family: 'Merriweather, serif';
    opacity: 0.9;
    margin-top: 0.5%;
    padding-top: 5%;
    padding-bottom: 35%;
    padding-left: 7%;
    background-color: floralwhite;
    box-shadow: 14px 28px 18px -12px rgba(0,0,0,0.19);
}


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
