@model BonTemps.Areas.Systeem.Models.ConsumptieAllergenen

@{
    ViewData["Title"] = "Create";

}

<div id="createform">
    <h3 class="titel createform">Consumptie aanmaken</h3>
    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Consumptie.Naam" class="control-label"></label>
            <input asp-for="Consumptie.Naam" class="form-control" />
            <span asp-validation-for="Consumptie.Naam" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Consumptie.Beschrijving" class="control-label"></label>
            <input asp-for="Consumptie.Beschrijving" class="form-control" />
            <span asp-validation-for="Consumptie.Beschrijving" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Consumptie.Prijs" class="control-label"></label>
            <input asp-for="Consumptie.Prijs" class="form-control" />
            <span asp-validation-for="Consumptie.Prijs" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Consumptie.CategoryId" class="control-label">Categorie</label>
            <select asp-for="Consumptie.CategoryId" class="form-control" asp-items="ViewBag.CategoryName"></select>
        </div>
        <div class="form-group">
          
            @Html.ListBox("Allergenen", (MultiSelectList)ViewBag.Allergenen, new { size = 8 })
        </div>
        <div class="form-group">
            <button asp-action="Index" asp-controller="Consumpties" class="btn darkred CrudCancel">
                Annuleren  <i class="fas fa-times white"></i>
            </button>
            <button type="submit" class="btn darkblue CrudCreate" style="float:right;">
                Aanmaken  <i class="fas fa-plus white"></i>
            </button>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


