@model BonTemps.Models.Reservering

@{
    ViewData["Title"] = "Aanmaken";
}

@if (User.Identity.Name == null)
{
    <div class="reserveren-2">
        <h1 class="heading-primairy title-res-2">Reservering</h1>
        <form asp-action="CreateWithEmail">
            <div class="row form-res">

                <div class="col-md-4 create-res-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger">Naam</div>
                    <div class="form-group">
                        <label asp-for="NaamReserveerder" class="control-label">Naam:</label>
                        <input asp-for="NaamReserveerder" class="form-control" />
                        <span asp-validation-for="NaamReserveerder" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="HuisTelefoonNummer" class="control-label">Huistelefoon:</label>
                        <input asp-for="HuisTelefoonNummer" class="form-control" />
                        <span asp-validation-for="HuisTelefoonNummer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MobielTelefoonNummer" class="control-label">Mobiele telefoon:</label>
                        <input asp-for="MobielTelefoonNummer" class="form-control" />
                        <span asp-validation-for="MobielTelefoonNummer" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-4 create-res-2">
                    <div class="form-group">
                        <label asp-for="AantalPersonen" class="control-label">Aantal Personen:</label>
                        <input asp-for="AantalPersonen" class="form-control" />
                        <span asp-validation-for="AantalPersonen" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Opmerking" class="control-label">Opermking:</label>
                        <input asp-for="Opmerking" class="form-control" />
                        <span asp-validation-for="Opmerking" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReserveringsDatum" class="control-label">Reserverings Datum:</label>
                        <input asp-for="ReserveringsDatum" class="form-control" />
                        <span asp-validation-for="ReserveringsDatum" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="color: red;">
                        <p>
                            * Let op! U kunt uw reserveering niet zien als u geen account heeft. <a asp-area="Identity" asp-page="/Account/Login" style="color:blue; text-decoration: underline; ">Inloggen</a>
                        </p>
                    </div>

                    <div class="form-group" style="float: right;">
                        <input type="submit" value="Reservering aanmaken" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        </form>
    </div>

}
else
{
    <div class="reserveren-1">
        <h1 class="heading-primairy title-res-1">Reservering</h1>
        <div class="row form-res">
            <div class="col-md-8 create-res-1">
                <form asp-action="CreateWithUser">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AantalPersonen" class="control-label">Aantal personen:</label>
                        <input type="number" id="aantal" onchange="checkPersonen()" asp-for="AantalPersonen" class="form-control" />
                        <span asp-validation-for="AantalPersonen" class="text-danger"></span>
                        <span id="validation" class="text-success" style=""></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HuisTelefoonNummer" class="control-label">Huistelefoon:</label>
                        <input asp-for="HuisTelefoonNummer" class="form-control" />
                        <span asp-validation-for="HuisTelefoonNummer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MobielTelefoonNummer" class="control-label">Mobiele telefoon:</label>
                        <input asp-for="MobielTelefoonNummer" class="form-control" />
                        <span asp-validation-for="MobielTelefoonNummer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReserveringsDatum" class="control-label">Reserverings Datum:</label>
                        <input asp-for="ReserveringsDatum" class="form-control" />
                        <span asp-validation-for="ReserveringsDatum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Opmerking" class="control-label">Opmerking:</label>
                        <input asp-for="Opmerking" class="form-control" />
                        <span asp-validation-for="Opmerking" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="createbuttonplaceholder" style="visibility:hidden;display:none;float: right;">
                        <a href="#" class="a-nav">
                            <input type="submit" value="Reserveren niet mogelijk" class="btn btn-warning" />
                        </a>
                    </div>
                    <div class="form-group" id="createstep2" style="float:right;">
                        <a asp-controller="Reservering" asp-action="Createstep2" class="a-nav">
                            <input type="submit" value="Reservering aanmaken" class="btn btn-primary" />
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <span id="span">test</span>
    <span id="span2">test</span>

}

<script>
    function checkPersonen() {
        var value = 0;
        value = document.getElementById('aantal').value;
        document.getElementById('span').innerHTML = value;

        if (value == 6) {
            document.getElementById('createbuttonplaceholder').style.visibility = "hidden";
            document.getElementById('createbuttonplaceholder').style.display = "none";
            document.getElementById('createstep2').style.visibility = "visible";
            document.getElementById('createstep2').style.display = "block";
            document.getElementById("validation").setAttribute("class", "text-success");
            document.getElementById('validation').innerHTML = "Dit is het maximale aantal personen dat u kunt kiezen bij het reserveren";
        }
        else if (value < 6) {
            document.getElementById('createbuttonplaceholder').style.visibility = "hidden";
            document.getElementById('createbuttonplaceholder').style.display = "none";
            document.getElementById('createstep2').style.visibility = "visible";
            document.getElementById('createstep2').style.display = "block";
            document.getElementById('validation').innerHTML = "";
        }
        else if (value > 6) {
            document.getElementById('createstep2').style.visibility = "hidden";
            document.getElementById('createstep2').style.display = "none";
            document.getElementById('createbuttonplaceholder').style.visibility = "visible";
            document.getElementById('createbuttonplaceholder').style.display = "block";
            document.getElementById('validation').innerHTML = "U kunt niet voor boven de 6 mensen reserveren via de site, bel hiervoor een medewerker. Onze excuses voor het ongemak";
            document.getElementById("validation").setAttribute("class", "text-danger");
        }
    }
</script>