@model BonTemps.Models.Reservering

@{
    ViewData["Title"] = "Aanmaken";
    int personen = ViewBag.Personen;
    int id = ViewBag.Id;
}
<form asp-action="Confirm" asp-route-id="@id">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="listbox">
        @for (int i = 0; i < personen; i++)
        {
            @Html.ListBox("Menu", (MultiSelectList)ViewBag.Menu, new { size = 4 })
        }
    </div>
    <div class="form-group">
        <button asp-action="Index" class="btn darkred CrudCancel">
            Annuleren  <i class="fas fa-times white"></i>
        </button>
        <button type="submit" class="btn darkblue CrudCreate" style="float:right;">
            Aanmaken  <i class="fas fa-plus white"></i>
        </button>
    </div>
</form>


