@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="afrekenenFalse" tabindex="-1" role="dialog" aria-labelledby="afrekenenFalseTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <span style="margin-top:1%;font-size:35px;color:red!important;">
                <i class="fas fa-times"></i>
            </span>
            <h3>Bestelling niet gereed</h3>
            <div class="modal-body">
                Voor deze tafel kan er momenteel niet afgerekend worden
                Mogelijk is deze tafel niet gekoppeld aan een bestelling. Probeer het later nog een keer
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i style="color:#ddd!important;" class="fas fa-times"></i></button>
            </div>
        </div>
    </div>
</div>