@model BonTemps.Areas.Systeem.Models.Category


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <div id="createform">
        <h3 class="titel createform">Categorie aanmaken</h3>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button asp-action="Index" class="btn darkred CrudCancel">
                    Annuleren  <i class="fas fa-times white"></i>
                </button>
                <button type="submit" class="btn darkblue CrudCreate" style="float:right;">
                    Opslaan  <i class="fas fa-plus white"></i>
                </button>
            </div>
        </form>
    </div>

</body>
</html>
